/*
 * @Author: mikey.yinyaoxuan 
 * @Date: 2018-11-19 08:52:32 
 * @Last Modified by: mikey.yinyaoxuan
 * @Last Modified time: 2018-11-21 14:42:44
 */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}